[submodule "wk-odoo-directly-print-reports"]
	path = wk-odoo-directly-print-reports
	url = git@github.com:xmarts/wk-odoo-directly-print-reports.git

[submodule "xmarts/ga-stock-prearrival"]
	path = xmarts/ga-stock-prearrival
	url = git@github.com:xmarts/ga-stock-prearrival.git
	branch = 14.0-migracion